extends layout

block content
  #skrollr-body
    include ./partials/d3nav
    
    section#slide-2
      div.bcg(data-0='background-color:rgb(26,23,65);', data-top='background-color:(0,0,0);', data-anchor-target='#slide-2')
        div.hsContainer
          div.hsContent
            h2(data-center='opacity: 1', data--200-bottom='opacity: 0', data-300-top-top='opacity: 1', data-anchor-target='#slide-2 h2') Welcome
            p(data-center='opacity: 1', data--200-bottom='opacity: 0', data-300-top-top='opacity: 1', data-anchor-target='#slide-2 h2')
              | Start scrolling down for both parallax and d3 goodness!
    section#first-d3
      include ./d3code/1

block scripts
  script(type="text/javascript",defer,src="/javascripts/skrollr.min.js")
  script(type="text/javascript",defer,src="/javascripts/waypoints.min.js")    
  script(type="text/javascript",defer,src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js")
  script(type="text/javascript",defer,src="http://d3js.org/topojson.v1.min.js")
  script(type="text/javascript",defer,async,src="/javascripts/scripts.js")
