doctype html
html
  head
    title Kingtak D3 Examples
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
    link(rel='shortcut icon', async, href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    include ./partials/navigation
    
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript" defer src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/js/foundation.min.js")
    script(type="text/javascript").
      $(document).ready(function(){
        $(document).foundation();
        $('a.hijax').click(function (e) {
          e.preventDefault(); // Stop browser from loading the URL.
          $.ajax({
            url: $(this).attr('href'),
          }).done(function (markup) {
            $('#content').html(markup);
          });
        });        
      })