doctype html
html
  head
    title Kingtak D3 Examples
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
    link(rel='shortcut icon', async, href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    include ./partials/navigation

    #content
      block content
      
      
      script(defer,src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
      script(defer,src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.3/js/foundation.min.js")
      
      block scripts
      
    script(type="text/javascript").
      window.jQuery || document.write("<script src='/javascripts/jquery-2.1.1.min.js'><\/script>");
    script(type="text/javascript").
      $(document).ready(function(){
        $(document).foundation();
        $("nav.top-bar").on("click", function(){
          $(document).scrollTop(100);
        });

      });