#aboutPage
  h1.text-center About

  h3.text-center A page full of D3, Parallax and most of all fun!

  .row
    p.
      This page is for people curious about the joys and fun that parallax and d3 can bring to a website.
      This page uses Skrollr, Wypoints, Express and Nodejs as the primary important tools.
      Right now, the pages are a bit sparse but as the page grows so will this page! For now, enjoy my page!
      If you're not seeing anything in the browser, sorry! The project requires a browser IE9+ and other modern browsers
      however, enjoy the fun!!!! Send me a message if you like what you see or want to see another section.
  .row

    h3.text-center D3 sections in general order
    ul
      .row
        .small-6.columns
          li SVG image of the Hawaiian islands, my home!
        .small-6.columns
          li SVG image of the country I live in, the USA!
p